# Django Settings
DEBUG=True
SECRET_KEY=your-secret-key-here
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
#DATABASE_URL=postgresql://cr_admin:cr_admin123@localhost:5432/clinic_record_db
DATABASE_HOST=localhost
DATABASE_NAME=clinic_record_db
DATABASE_USER=cr_admin
DATABASE_PASSWORD=cr_admin123
DATABASE_PORT=5432

# Redis
REDIS_URL=redis://localhost:6379/0

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:3000, http://localhost:5173

# JWT
JWT_ACCESS_TOKEN_LIFETIME=60
JWT_REFRESH_TOKEN_LIFETIME=1440

# AWS S3 (opcional para desarrollo)
USE_S3=False
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=us-east-1
AWS_TEXTRACT_REGION=us-east-1

# Email (SendGrid)
SENDGRID_API_KEY=
DEFAULT_FROM_EMAIL=noreply@clinidocs.coms